body{
    margin:0;
    padding: 0;
    height: 12vh;
}
#Profile{
    width: 50px;
    height: 50px;
}
#link{
    text-decoration: none;
    color: #fff;
}
.nav-cont{
    color: #fff;
    font-family:Inria Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: grid;
    grid-template-columns: 2fr 3fr;
    width: 100%;
    height: 12vh;
    background-color: #25252F;
}
.menus{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.log{
    display: grid;
    grid-template-rows: 5fr 1fr;
    height: 10vh;
    margin-top: 10px;
}
.logtext{
    margin-top: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
}
.loginicon{
    margin-bottom: 0px;
    width: 36px;
    height: 36px;
}
.main{
    width: 100%;
    height: vh;
    
    
}
.menu{
    margin-top: 35px;
    margin-bottom: 0px;
}
.logo{
    margin-left:  10%;
    
}
.logtext{
    font-size: 16px;
}

@media (max-width:768px){
    .menus{
        display: none;
    }
    .drop{
        display: inline;
        background-color: #25252F;
    }
    .nav-cont{
        display: grid;
        grid-template-columns: 4fr 1fr;
        height: 8vh;
    }
    .logo{
        margin-top: -6%;
    }
    
}
@media (min-width:768px){
    .drop{
        display: none;
    }
}
.drop-img{
    width: 3.3125rem;
    height: 2.9375rem;
    margin-top: 10%;
    
}

.menus.responsive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    animation: slide-down 0.3s ease-in-out;
    color: #25252F;
  }
  @keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }