<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}">
    <title>Document</title>
    <style>
      body{
        background-image: url("{% static 'images/books.jpg' %}");
      }
    </style>
</head>
<body>
    
      </nav>
      <section>
        <div class="container1">
          <h1 class="text-center sen">Hello, Every one!</h1>
          <h1 class="text-center sen2">This is a place to find digital resource for ASTU Curriculums.</h1>
          
          <div class="gets">
            <a href="" class="link">Get Started</a>
          </div>
        </div>
      </section>
      <section>
        <div class="cardcont">
          <div class="card">
            <div class="main-content">
              <div class="header">
          
          </div>
          <p class="heading">Information about the curriculum of AST</p>
            </div>
          </div><div class="card">
            <div class="main-content">
              <div class="header">
          
          </div>
          <p class="heading">Resources for all cources</p>
            </div>
          </div><div class="card">
            <div class="main-content">
              <div class="header">
          
          </div>
          <p class="heading">Get Support</p>
            </div>
          </div>
          
          
        </div>
      </section>
</body>
</html>