<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CURRICULUM360</title>

    <link href="{% static 'resource/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'groupapp/css/sty.css' %}">
    <!-- Custom styles for this template-->
    <link href="{% static 'resource/css/sb-admin-2.min.css' %}" rel="stylesheet">
</head>
<body>
    
      <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        

            <!-- Main Content -->
 
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <div><h3 class="d-none d-sm-block">CURRICULUM360</h3></div>

            <!-- Topbar Search -->
            {% if page_user %}
            <form method="POST" action="{% url 'search' %}"
                class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    {% csrf_token %}
                    <input name="query" type="text" class="form-control bg-light border-0 small" placeholder="Search for any course..."
                        aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% endif %}
            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">
                
                <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                {% if page_user.is %}
                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>
                    <!-- Dropdown - Messages -->
                   
                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                        aria-labelledby="searchDropdown">
                        <form method="POST" action="{% url 'search' %}"
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            {% csrf_token %}
                            <input name="query" type="text" class="form-control bg-light border-0 small" placeholder="Search for any course..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    </div>

                </li>
                {% endif %}
                <!-- Nav Item - Alerts -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <div class="container-fluid d-none d-md-block"><a href="{% url 'resource' %}"><h4 style="margin-top: 15%;">Resource</h4></a></div>
                </li>
                <!-- Nav Item - Messages -->
                <li class="nav-item dropdown no-arrow mx-1">
                    <div class="container-fluid d-none d-md-block"><a href="{% url 'about' %}"><h4 style="margin-top: 20%;">About</h4></a></div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <!-- Nav Item - User Information -->
                {% if page_user %}
                <li class="nav-item dropdown no-arrow">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        
                        {% if page_user.profile_pic %}
                        <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{page_user.username}}</span>
                        <img class="img-profile rounded-circle"
                            src="{{page_user.profile_pic.url}}">
                        {% else %}
                        <img class="img-profile rounded-circle"
                            src="{% static 'images/avatar.png' %}">
                        {% endif %}
                        {% else %}
                        <div class="loginicon"><a href="{% url 'login' %}"> <div style="margin-top: 10%;" class="container-fluid"><h3>login</h3></div> </a></div>
                        
                                         
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                        aria-labelledby="userDropdown">
                      {% if page_user %}
                        <a class="dropdown-item" href="{% url 'user_profile' id=page_user.id %}">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Profile
                        </a>
                    {% endif %}
                        
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
                {% endif %} 
            </ul>

        </nav>
    
    
        <div>
            {% block content %}

            {% endblock %}
        </div>
    </div>
</div>

<script src="{% static 'resource/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'resource/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'resource/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'resource/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'resource/js/scrol.js' %}"></script>

<!-- Page level plugins -->
<script src="{% static 'resource/vendor/chart.js/Chart.min.js' %}"></script>

<!-- Page level custom scripts -->
<script src="{% static 'resource/js/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'resource/js/demo/chart-pie-demo.js' %}"></script>
</body>
</html>