<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C360</title>
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'resource/css/resource.css' %}">
    <link rel="stylesheet" href="{% static 'groupapp/css/style.css' %}">
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="loader" id="loader">
        <div class="square" id="sq1"></div>
        <div class="square" id="sq2"></div>
        <div class="square" id="sq3"></div>
        <div class="square" id="sq4"></div>
        <div class="square" id="sq5"></div>
        <div class="square" id="sq6"></div>
        <div class="square" id="sq7"></div>
        <div class="square" id="sq8"></div>
        <div class="square" id="sq9"></div>
      </div>
    <div id="content">
    <nav>
        <div class="nav-cont">
            <div class="logo">
                <h1>C360</h1>
            </div>
            <div class="menus" id="menus">
                <div class="menu">
                    {% if request.user.is_authenticated %}
                    <form id="search-form" method="POST" action="{% url 'search' %}" class="form" >
                        {% csrf_token %}
                        <label for="search">
                            <input class="input" type="text" required="" name="query" placeholder="Search any course" id="search">
                            <div class="fancy-bg"></div>
                            <div class="search">
                                <button id="searcher">
                                    <svg viewBox="0 0 24 24" aria-hidden="true" class="r-14j79pv r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-4wgw6l r-f727ji r-bnwqim r-1plcrui r-lrvibr">
                                        <g>
                                            <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
                                        </g>
                                    </svg>
                                </button>
                            </div>
                            <button class="close-btn" type="reset">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                    <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
                                </svg>
                            </button>
                        </label>
                    </form>
                    {% endif %}
                </div>
                <div class="menu">
                    <a id="link" href="{% url 'home' %}">Home</a>
                </div>
                <div class="menu">
                    <a class="r" id="link" href="{% url 'resource' %}">Resource</a>
                </div>
                <div class="menu">
                    <a id="link" href="{% url 'all_group' %}">Groups</a>
                </div>
                <div class="menu">
                    <a id="link" href="{% url 'about' %}">About</a>
                </div>
                <div class="log">
                    {% if page_user %}
                        {% if page_user.profile_pic %}
                            <img id="pic"  style='width:50px; height:50px; border-radius: 50%;' src="{{page_user.profile_pic.url}}" alt="">
                        {% else %}
                            <img id="pic" style='width:50px; height:50px;' src="{% static 'images/avatar.png' %}" alt="Default Profile Picture">
                        {% endif %}
                        <a id="link" style="color: #fff; text-decoration: none; font-size: 1rem;" href="{% url 'logout' %}">Logout  {{request.user}}</a>

                    {% else %}
                    <div class="loginicon"><a href="{% url 'login' %}"><img src="{% static 'images/login.png' %}" alt=""></a></div>
                    <div id="pic" class="logtext" id="link">login</div>
                    {% endif %}
                </div>
                
            </div>
            <div class="drop">
                <img onclick="navtog()" class="drop-img icon" src="{% static 'images/menu.png' %}" alt="">
            </div>
        </div>
    </nav>

    
    
        <div>
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>