/* styles.css */
body{
    color: white;
    background-color: #333;
    font-family: Inria Sans;
}
/* Container styles */
.course-container-d {
    margin-bottom: 20px;
    padding: 20px;
    border: 3px solid #ccc;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
}

/* Course name styles */
.course-name {
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
}

/* Course description styles */
.course-description {
    margin-top: 10px;
    color: #c0bcbc;
}

/* Course type styles */
.course-type {
    margin-top: 10px;
    font-style: italic;
    color: #d1cbcb;
}

/* Course rating styles */
.course-rating {
    margin-top: 10px;
    font-weight: bold;
    color: #090;
}

/* Resource section styles */
.resource-section {
    margin-top: 20px;
}

/* Resource list styles */
.resource-section ul {
    list-style-type: none;
    padding: 10px;
    background-color: #222;
    width: 30%;
    border-radius: 20px;
}

/* Resource link styles */
.resource-section ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fdfdfd;
    font-size: larger;
    text-decoration: none;
    margin-bottom: 10px;
}

/* Download icon styles */
.resource-section ul li a i {
    margin-right: 10px;
    font-size: 18px;
    color: #000;
}

/* Resource link on hover styles */
.resource-section ul li a:hover {
    text-decoration: underline;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .course-container {
        padding: 10px;
    }

    .course-name {
        font-size: 20px;
    }
}