{% extends 'resource/index.html' %}
{% block content %}
<div class="container-fluid" style="display: flex; justify-content: center; align-items: center; min-height: 100vh;">
    <!-- resource/add_edit_course.html -->
    <form class="myform" id="resource_form" method="post" enctype="multipart/form-data" novalidate="" >
        {% csrf_token %}
        

        {% if form.instance.pk %}
            <h2>Edit Resource</h2>
        {% else %}
            <h2>Add Resource for [{{t_course}}]</h2>
        {% endif %}

        {% for field in form %}
        <div class="form-group">
          <label for="id_name">{{field.label}}:</label>
          {{ field }}
        </div>
        {% if form.errors %}
        {% if field.errors %}
        <div class="alert alert-danger">
            <strong>Error:</strong> Please correct the following errors on <strong>{{field.label}}</strong>.
            <ul>
                
                    {% for error in field.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                
            </ul>
        </div>
        {% endif %}
      {% endif %}
        {% endfor %}

        
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
</div>
{% endblock content %}