{% extends 'resource/index.html' %}
{% block content %}
<div class="container-fluid">
    <!-- resource/add_edit_course.html -->
<form method="post">
    {% csrf_token %}
    {% if form.instance.pk %}
      <h2>Edit Course</h2>
    {% else %}
      <h2>Add Course</h2>
    {% endif %}
    
    <div class="form-group">
      <label for="id_name">Name:</label>
      {{ form.name }}
    </div>
    <div class="form-group">
      <label for="id_semister">Semester:</label>
      {{ form.semister }}
    </div>
    <div class="form-group">
      <label for="id_description">Description:</label>
      {{ form.description }}
    </div>
  
    <div class="form-group">
      <label for="id_department">Department:</label>
      {{ form.department }}
    </div>
    <div class="form-group">
      <label for="id_prerequest">Prerequisite:</label>
      {{ form.prerequest }}
    </div>
    <div class="form-group">
      <label for="id_crh">Credit Hours:</label>
      {{ form.crh }}
    </div>
    <div class="form-group">
      <label for="id_stream">Stream:</label>
      {{ form.stream }}
    </div>
    <div class="form-group">
      <label for="id_course_type">Course Type:</label>
      {{ form.course_type }}
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>

{% endblock content %}