{% extends 'main.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'resource/css/resource.css' %}">
  <title>Resources</title>
  <script src="{% static 'resource/js/resource.js' %}"></script>
</head>
<body>
  <div id="flash-message" class="flash-message">
    {% for mesage in messages %}
    <p id="flash-message-text">{{ mesage }}</p>
    {% endfor %}
</div>
  <div class="head">
    <a id="eng" href="">Engineering / </a><a id="app" href=""> Applied</a>
    
  </div>
<!--freashman cources-->
  <div class="fresh-con">

    <h3 id="fresh-head">1st Year/Pre-Engineering</h3>
    <div class="cources-con">
      <div class="course-con">
        <div class="c-name">Applied math I</div>
        <div class="c-r-no">Resources(3)</div>
        <div class="l-n-c">
          <div class="l-n-c-l">
            
            <div><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></div>
            <div><small> 5 likes</small></div>
            
          </div>
          <div class="l-n-c-c">
            
            <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
            <div><small>6 comments</small></div>
            
          </div>
        </div>
       
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
    </div>
  </div>
<!--school cources-->
<div class="head">
  <a id="eng" href="">SOEEC / </a><a id="app" href=""> SOCEA /</a><a id="app" href=""> SOCME </a>
</div>
  <div class="fresh-con">
    <h3 id="fresh-head">Shools
    </h3>
    <div class="cources-con">
      <div class="course-con">
        <div class="c-name">Applied math III</div>
        <div class="c-r-no">Resources(3)</div>
        <div class="l-n-c">
          <div class="l-n-c-l">
            
            <div><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></div>
            <div><small> 5 likes</small></div>
            
          </div>
          <div class="l-n-c-c">
            
            <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
            <div><small>6 comments</small></div>
            
          </div>
        </div>
       
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
      <div class="course-con">
        
      </div>
    </div>
  </div>
  
  <!--department cources-->
  <div class="head">
    <div><h2 id="eng">Select your Department</h2></div>
    <div>
      <select id="myDropdown" name="myDropdown">
        <option value="option1">Option 1</option>
        <option value="option2">Option 2</option>
        <option value="option3">Option 3</option>
      </select>
    </div>

  </div>
    <div class="fresh-con">
      <h3 id="fresh-head">Department
      </h3>
      <div class="cources-con">
        <div class="course-con">
          <div class="c-name">Applied math III</div>
          <div class="c-r-no">Resources(3)</div>
          <div class="l-n-c">
            <div class="l-n-c-l">
              
              <div><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></div>
              <div><small> 5 likes</small></div>
              
            </div>
            <div class="l-n-c-c">
              
              <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
              <div><small>6 comments</small></div>
              
            </div>
          </div>
         
        </div>
        <div class="course-con">
          
        </div>
        <div class="course-con">
          
        </div>
        <div class="course-con">
          
        </div>
        <div class="course-con">
          
        </div>
      </div>
    </div>
</body>
{% endblock %}
</html>