{% extends 'main.html' %}
<!DOCTYPE html>
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  
  <link href="https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'resource/css/resource.css' %}">
  <title>Resources</title>
  <script src="{% static 'resource/js/resource.js' %}"></script>
</head>
<body>
  <div class="head">
    <a id="eng" href="">Engineering / </a><a id="app" href=""> Applied</a>
    
  </div>
<!--freashman cources-->
  <div class="fresh-con">

    <h3 id="fresh-head">1st Year/Pre-Engineering</h3>
    <div class="cources-con">
      
      <!--course card start here -->
      {% for semister in semisters %}
        {% if semister.year == '1st year' %}
          {% for cource in semister.courses.all %}
      <div class="course-con">
        
            <div class="c-name"><a style="color: #fff; text-decoration: none;" href="{% url 'course_detail' course_id=cource.id %}">{{cource.name}}</a></div>
            
            <div class="c-r-no">({{cource.crh}}chrs)---Resources({{cource.resource_count}})</div>
            <div class="l-n-c">
              <div class="l-n-c-l">
            
                <div><a  href="{% url 'increase_rating' course_id=cource.id %}"><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></a></div>
                <div><small> {{cource.rating}} likes</small></div>
                
              </div>
              <div class="l-n-c-c">
                
                <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
                <div><small>{{course.comments}} comments</small></div>
                
              </div>
            </div>
      </div>
      {% endfor %}
        {% endif %}
       {% endfor %}
    
    </div>
  </div>
<!--school cources-->
<div class="head">
  <a id="eng" href="">{{request.user.department.school}}</a>
</div>
  <div class="fresh-con">
    <h3 id="fresh-head">Schools Courses
    </h3>
    <div class="cources-con">
      {% for semister in semisters %}
        {% if semister.department.name == request.user.department.school %}
          {% for cource in semister.courses.all %}
      <div class="course-con">
        <div class="c-name"><a style="color: #fff; text-decoration: none;" href="{% url 'course_detail' course_id=cource.id %}">{{cource.name}}</a></div>
            
            <div class="c-r-no"> ({{cource.crh}}chrs)---Resources({{cource.resource_count}})</div>
            <div class="l-n-c">
              <div class="l-n-c-l">
            
                <div><a href="{% url 'increase_rating' course_id=cource.id %}"><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></a></div>
                <div><small> {{cource.rating}} likes</small></div>
                
              </div>
              <div class="l-n-c-c">
                
                <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
                <div><small>{{course.comments}} comments</small></div>
                
              </div>
            </div>
       
      </div>
      {% endfor %}
        {% endif %}
       {% endfor %}
     
    </div>
  </div>
  
  <!--department cources-->
  <div class="head">
    <div><h2 id="eng">{{request.user.department.name}}</h2></div>
  </div>
    <div class="fresh-con">
      {% for semister in semisters %}
        
        {% if semister.department.name == request.user.department.name and semister.year != '1st year' %}
        <h3 id="fresh-head">{{semister.year}}-{{semister.semister_number}}</h3>
      <div class="cources-con">
          {% for cource in semister.courses.all %}
        
        <div class="course-con">
          <div class="c-name"><a style="color: #fff; text-decoration: none;" href="{% url 'course_detail' course_id=cource.id %}">{{cource.name}}</a> </div>
            
            <div class="c-r-no">({{cource.crh}}chrs)---Resources({{cource.resource_count}})</div>
            <div class="l-n-c">
              <div class="l-n-c-l">
            
                <div><a href="{% url 'increase_rating' course_id=cource.id %}"><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></a></div>
                <div><small> {{cource.rating}} likes</small></div>
                
              </div>
              <div class="l-n-c-c">
                
                <div><img id="icons" src="{% static 'resource/images/comment.png' %}" alt=""></div>
                <div><small>{{course.comments}} comments</small></div>
                
              </div>
            </div>
        </div>
        {% endfor %}
        
        
      </div>
      {% endif %}
       {% endfor %}
    </div>
</body>
{% endblock %}
</html>