{% extends 'resource/index.html' %}
{% load static %}
{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    
</head>
<body>
    {% block content %}
    <h1 id="fresh-head">Your search results</h1>
    <div class="cources-con">
        {% for cource in course_obj %}
      <div class="course-con">
        
            <div class="c-name"><a style="color: #fff; text-decoration: none;" href="{% url 'course_detail' course_id=cource.id %}">{{cource.name}}</a></div>
            
            <div class="c-r-no">({{cource.crh}}chrs)---Resources({{cource.resource_count}})</div>
            <div class="l-n-c">
              <div class="l-n-c-l">
            
                <div><a  href="{% url 'increase_rating' course_id=cource.id %}"><img id="icons" src="{% static 'resource/images/like.png' %}" alt=""></a></div>
                <div><small> {{cource.rating}} likes</small></div>
                
              </div>
              <div class="l-n-c-c">
                
                <div><img id="icons" src="{% static 'resource/images/group.png' %}" alt=""></div>
                
                {% with matching_group=groups|first_matching_group:cource %}
                  {% if matching_group %}
                      <div><small><a id="link" href="{% url 'group_page' group_id=matching_group.id %}">Join course Group</a></small></div>
                  {% else %}
                      <div><small><a id="link" href="{% url 'create_group' course_id=cource.id %}">Create Group</a></small></div>
                  {% endif %}
              {% endwith %} 
                
            </div>
      </div>
      {% endfor %}
    </div>
    {% endblock content %}
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'resource/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'resource/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'resource/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'resource/js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'resource/vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'resource/js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'resource/js/demo/chart-pie-demo.js' %}"></script>

</body>
</html>
