{% extends 'resource/index.html' %}

{% block content %}
  {% load static %}

  <!---vcdsfdfdfdsfdsfds Room End ---------------------------------------------------------------->
  {% for course in courses %}
    {% if group.topic == course %}  
      <section style="background-color: #eee;margin: 0; padding: 0;">
        <div style="margin: 0; padding: 0;" class="container py-5">
          <div style="margin: 0; padding: 0;" class="row d-flex justify-content-center">
            <div style="margin: 0; padding: 0;" class="col-md-10 col-lg-8 col-xl-6">

              <div style="margin: 0; padding: 0;" class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                  <h5 class="mb-0">{{ course.name }}</h5>
                  <h5>{{ group.name }}</h5>
                  {{ group.created|timesince }} ago
                </div>
                <div id="message-container" class="card-body"  data-mdb-perfect-scrollbar="true" style="position: relative; height: 50vh; overflow: auto;">
                  {% for message in messages %}
                    {% if message.room.name == group.name %}
                      {% if message.user == request.user %}
                        <div class="d-flex flex-row justify-content-start">
                          <a href="{% url 'user_profile' id=request.user.id %}">
                            <img style="border-radius: 50%; width: 35px; height: 35px;" src="{{ message.user.profile_pic.url }}" alt="avatar 1" style="width: 45px; height: 100%;">
                          </a>
                          <div>
                            <p class="h6 p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7; border-radius: 10px;">
                              {% if message.attachment %}
                                <a id="link" href="{{ message.attachment.url }}" target="_blank">
                                  <img style="width: 40px; height: 40px;" src="{% static 'images/file2.png' %}" alt="">
                                </a>
                                <br>
                              {% endif %}
                              
                              {{ message.body }}
                              
                            </p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">{{ message.created|timesince }} ago</p>
                          </div>
                        </div>
                        <div class="divider d-flex align-items-center mb-4">
                          <p class="text-center mx-3 mb-0" style="color: #a2aab7;">+++</p>
                        </div>
                      {% else %}
                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                          <div class="rounded-10">
                            <p style="border-radius: 10px;" class="small p-2 text-white rounded-10 bg-primary">
                              {% if message.attachment %}
                                <a id="link" href="{{ message.attachment.url }}" target="_blank">
                                  <img style="width: 40px; height: 40px;" src="{% static 'images/file2.png' %}" alt="">
                                </a>
                                <br>
                              {% endif %}
                              
                              {{ message.body }}
                              
                            </p>
                            <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ message.created|timesince }} ago</p>
                          </div>
                          <a href="{% url 'user_profile' id=message.user.id %}">
                            <img style="border-radius: 50%; width: 35px; height: 35px;" src="{{ message.user.profile_pic.url }}" alt="avatar 1" style="width: 45px; height: 100%;">
                          </a>
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
              <div id="file-popup" class="file-popup alert alert-success align-items-center" style="display: none;">
                <i class="fas fa-file"></i>
                <span id="file-name"></span>
              </div>
              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-footer text-muted d-flex justify-content-end align-items-center p-3">
                  <div class="col-xl-2 col-md-1 col-2">
                                {% if page_user.profile_pic %}
                                <img style="width: 40px; height: 40px;" class="img-profile rounded-circle"
                                    src="{{page_user.profile_pic.url}}">
                                {% else %}
                                <img style="width: 40px; height: 40px;" class="img-profile rounded-circle"
                                    src="{% static 'images/avatar.png' %}">
                                {% endif %}
                  </div>
                  <div class="col-xl-8 col-md-9 col-7">
                    
                    <div id="emoji-picker-container"></div>
                    <input name="body" type="text" class="form-control form-control-lg" id="target-input" placeholder="Type message" data-emojiable="true">
                  </div>
                  
                  <div class="file-input col-xl-1 col-md-1 col-1">
                    <input type="file" id="attachment" name="attachment" class="hidden" style="display: none;"/>
                    <label for="attachment" class="file-input-label btn btn-primary custom-hover">
                      <i class="fas fa-paperclip"></i>
                    </label>
                  </div>
                  <div class="col-xl-1 col-md-1 col-2">
                    <button style="background: none; border:none;" type="submit">
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        
      </section>
      <script>
        



        document.getElementById('attachment').addEventListener('change', function() {
        var fileInput = document.getElementById('attachment');
        var fileName = fileInput.value.split('\\').pop(); // Get the file name from the file input
        var filePopup = document.getElementById('file-popup');
        filePopup.textContent = fileName; // Set the content of the popup to the file name
        filePopup.style.display = 'block';
         // Hide the popup after 2 seconds
      });

      var messageContainer = document.getElementById('message-container');
      messageContainer.scrollTop = messageContainer.scrollHeight;
      
   
      var targetInput = document.getElementById('target-input');
      var emojiPicker = new EmojiPicker();
      var emojiPickerContainer = document.getElementById('emoji-picker-container');
      var emojiPickerButton = document.getElementById('emoji-picker-button');

      emojiPicker.init({
        emojiable_selector: '[data-emojiable=true]',
        assetsPath: 'https://cdn.jsdelivr.net/npm/twemoji@13.0.2/assets/svg/',
        popupButtonClasses: 'fas fa-smile',
      });

emojiPicker.listenOn(targetInput);

emojiPickerButton.addEventListener('click', function() {
  if (emojiPickerContainer.style.display === 'block') {
    emojiPickerContainer.style.display = 'none'; // Hide the emoji picker
  } else {
    emojiPickerContainer.style.display = 'block'; // Show the emoji picker
  }
});

targetInput.addEventListener('input', function() {
  if (targetInput.value.trim() !== '') {
    emojiPickerContainer.style.display = 'none'; // Hide the emoji picker if input is not empty
  }
});
            </script>
    {% endif %}
  {% endfor %}
  

{% endblock %}

