{% extends 'resource/index.html' %}

{% block content %}
  {% load static %}

  <!---vcdsfdfdfdsfdsfds Room End ---------------------------------------------------------------->
  {% for course in courses %}
    {% if group.topic == course %}  
      <section style="background-color: #eee;margin: 0; padding: 0;">
        <div style="margin: 0; padding: 0;" class="container py-5">
          <div style="margin: 0; padding: 0;" class="row d-flex justify-content-center">
            <div style="margin: 0; padding: 0;" class="col-md-10 col-lg-8 col-xl-6">

              <div style="margin: 0; padding: 0;" class="card" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                  <h5 class="mb-0">{{ course.name }}</h5>
                  <h5>{{ group.name }}</h5>
                  {{ group.created|timesince }} ago
                </div>
                <div id="message-container" class="card-body"  data-mdb-perfect-scrollbar="true" style="position: relative; height: 50vh; overflow: auto;">
                  {% for message in messages %}
                    {% if message.room.name == group.name %}
                      {% if message.user == request.user %}
                        <div class="d-flex flex-row justify-content-start">
                          <img style="border-radius: 50%; width: 35px; height: 35px;" src="{{ message.user.profile_pic.url }}" alt="avatar 1" style="width: 45px; height: 100%;">
                          <div>
                            <p class="h6 p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7; border-radius: 10px;">
                              {{ message.body }}
                              {% if message.attachment %}
                                <a id="link" href="{{ message.attachment.url }}" target="_blank">
                                  <img style="width: 40px; height: 40px;" src="{% static 'images/file2.png' %}" alt="">
                                </a>
                              {% endif %}
                            </p>
                            <p class="small ms-3 mb-3 rounded-3 text-muted">{{ message.created|timesince }} ago</p>
                          </div>
                        </div>
                        <div class="divider d-flex align-items-center mb-4">
                          <p class="text-center mx-3 mb-0" style="color: #a2aab7;">+++</p>
                        </div>
                      {% else %}
                        <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                          <div class="rounded-10">
                            <p style="border-radius: 10px;" class="small p-2 text-white rounded-10 bg-primary">
                              {{ message.body }}
                              {% if message.attachment %}
                                <a id="link" href="{{ message.attachment.url }}" target="_blank">
                                  <img style="width: 40px; height: 40px;" src="{% static 'images/file2.png' %}" alt="">
                                </a>
                              {% endif %}
                            </p>
                            <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">{{ message.created|timesince }} ago</p>
                          </div>
                          <img src="{{ message.user.profile_pic.url }}" alt="avatar 1" style="width: 45px; height: 100%;">
                        </div>
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </div>

              <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card-footer text-muted d-flex justify-content-end align-items-center p-3">
                  <div class="col-xl-2 col-md-1 col-2">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3-bg.webp" alt="avatar 3" style="width: 40px; height: 100%;">
                  </div>
                  <div class="col-xl-8 col-md-9 col-7">
                    <input name="body" type="text" class="form-control form-control-lg" id="exampleFormControlInput1" placeholder="Type message">
                  </div>
                  <div class="file-input col-xl-1 col-md-1 col-1">
                    <input type="file" id="attachment" name="attachment" class="hidden" style="display: none;"/>
                    <label for="attachment" class="file-input-label">
                      <i class="fas fa-paperclip"></i>
                    </label>
                  </div>
                  <div class="col-xl-1 col-md-1 col-2">
                    <button style="background: none; border:none;" type="submit">
                      <i class="fas fa-paper-plane"></i>
                    </button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
        
      </section>
    {% endif %}
  {% endfor %}
  

{% endblock %}

